<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>开发商个人资料</title>
	<!--加下面一句可以像pc端一样操作移动端-->
	<meta name="viewport"
		  content="width=device-width,inital-scale=1,
		  maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="../../public/css/reset.css">
	<link rel="stylesheet" href="../../public/css/my/agent-personalprofile.css">
</head>
<body>
<div class="title">
	<a href="" class="nav_back"></a>
	<span class="title_text">个人资料</span>
</div>
<div class="head">
	<i class="head_img"></i>
	<span class="head_name">梦想地产</span>
	<p class="head_text">以前喜欢一个人，现在喜欢一个人</p>
	<a href="./agent-personalprofile-edit.html" class="head_link">编辑个人资料</a>
</div>
<div class="personal">
	<div class="personal_row">
		<div class="personal_text">企业邮箱/公司总机</div>
		<div class="inp_row">823546415@qq.com</div>
	</div>
	<div class="personal_row">
		<div class="personal_text">联系人</div>
		<div class="inp_row">张三</div>
	</div>
	<div class="personal_row">
		<div class="personal_text">联系方式</div>
		<div class="inp_row">18956024163</div>
	</div>
	<div class="personal_row">
		<div class="personal_text">微信号码</div>
		<div class="inp_row">18956024163</div>
	</div>
	<div class="optional_box">
		<div class="optional_list">
			<a href="" class="optional_text"></a>
			<span>微信二维码</span>
		</div>
		<div class="optional_list">
			<a href="" class="optional_text"></a>
			<span>营业执照</span>
		</div>
		<div class="optional_list">
			<a href="" class="optional_text"></a>
			<span>楼宇产证</span>
		</div>
	</div>
</div>
</body>
</html>