<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>开发商个人资料编辑</title>
	<!--加下面一句可以像pc端一样操作移动端-->
	<meta name="viewport"
		  content="width=device-width,inital-scale=1,
		  maximum-scale=1,minimum-scale=1,user-scalable=no">
	<link rel="stylesheet" href="../../public/css/reset.css">
	<link rel="stylesheet" href="../../public/css/my/agent-personalprofile-edit.css">
</head>
<body>
<div class="title">
	<a href="./agent-personalprofile.html" class="nav_back"></a>
	<span class="title_text">个人资料</span>
</div>
<div class="personal">
	<a href="" class="head_row">
		<div class="head_text">头像</div>
		<span class="head_img"></span>
		<i class="personal_next"></i>
	</a>
	<div class="personal_row">
		<div class="personal_text">简介</div>
		<div class="inp_row">
			<input type="text" class="personal_pnt" value="以前喜欢一个人，现在喜欢一个">
		</div>
		<a href="" class="personal_next"></a>
	</div>
	<div class="personal_row">
		<div class="personal_text">企业邮箱/公司总机</div>
		<div class="inp_row">
			<input type="text" class="personal_pnt" value="823546415@qq.com">
		</div>
		<a href="" class="personal_next"></a>
	</div>
	<div class="personal_row">
		<div class="personal_text">联系人</div>
		<div class="inp_row">
			<input type="text" class="personal_pnt" value="张三">
		</div>
		<a href="" class="personal_next"></a>
	</div>
	<div class="personal_row">
		<div class="personal_text">联系方式</div>
		<div class="inp_row">
			<input type="text" class="personal_pnt" value="18956024163">
		</div>
		<a href="" class="personal_next"></a>
	</div>
	<div class="personal_row">
		<div class="personal_text">微信号码</div>
		<div class="inp_row">
			<input type="text" class="personal_pnt" value="18956024163">
		</div>
		<a href="" class="personal_next"></a>
	</div>
	<div class="optional_box">
		<div class="optional_list">
			<a href="" class="optional_text"></a>
			<span>微信二维码</span>
		</div>
		<div class="optional_list">
			<a href="" class="optional_text"></a>
			<span>营业执照</span>
		</div>
		<div class="optional_list">
			<a href="" class="optional_text"></a>
			<span>楼宇产证</span>
		</div>
	</div>
</div>
<div class="boxes"></div>
<div>

</div>
</body>
</html>