<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>过期房源</title>
    <meta name="keywords" content="杭州瑞烁网络科技股份有限公司">
    <!--加下面一句可以像pc端一样操作移动端-->
    <meta name="viewport"
          content="width=device-width,inital-scale=1,
		  maximum-scale=1,minimum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="../../public/css/reset.css">
    <link rel="stylesheet" href="../../public/css/my/expired-house.css">
</head>
<body>
<div class="title">
    <a href="" class="nav_back"></a>
    <span class="title_text">过期房源</span>
</div>
<div class="house_details">
    <div class="house_img">
        <h2 class="house_head">东方金融中心</h2>
        <span class="right">已过期</span>
        <p class="address">浦东--八佰伴</p>
        <a href="" class="link">商务中心</a>
        <span class="mun">¥<span class="number">7</span> </span><span class="danw">元/平米/天起</span>
        <span class="rights">佣金：1个月</span>
    </div>
</div>
<div class="house_details">
    <div class="house_img">
        <h2 class="house_head">东方金融中心</h2>
        <span class="right">已过期</span>
        <p class="address">浦东--八佰伴</p>
        <a href="" class="link">商务中心</a>
        <span class="mun">¥<span class="number">7</span> </span><span class="danw">元/平米/天起</span>
        <span class="rights">佣金：1个月</span>
    </div>
</div>
</body>
</html>