<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自己发布的房型详情</title>
    <!--加下面一句可以像pc端一样操作移动端-->
    <meta name="viewport"
          content="width=device-width,inital-scale=1,
		  maximum-scale=1,minimum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="../../public/css/reset.css">
    <link rel="stylesheet" href="../../public/css/my/myrelease-house-details.css">
</head>
<body>
<div class="title">
    <a href="" class="nav_back"></a>
</div>
</body>
</html>