<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设置-关于</title>
    <!--加下面一句可以像pc端一样操作移动端-->
    <meta name="viewport"
          content="width=device-width,inital-scale=1,
		  maximum-scale=1,minimum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="../../public/css/reset.css">
    <link rel="stylesheet" href="../../public/css/my/setup_about.css">
</head>
<body>
<div class="title">
    <a href="../my/my-information.html" class="nav_back"></a>
    <span class="title_text">关于</span>
</div>
<div class="logo">
    <span class="logo_img"></span>
    <div class="logo_center">
        <span class="logo_text"></span>
        <span class="ver">v1.0.0</span>
    </div>
</div>
<a href="" class="row">
    <div class="list_text">电话</div>
    <div class="figure">
        <span>021-68547845</span>
    </div>
    <i class="link_pre"></i>
</a>
<a href="" class="row">
    <div class="list_text">服务条款</div>
    <i class="link_pre"></i>
</a>
<div class="copy">&copy;2016 All Rights Reserved.</div>
</body>
</html>