<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设置</title>
    <!--加下面一句可以像pc端一样操作移动端-->
    <meta name="viewport"
          content="width=device-width,inital-scale=1,
		  maximum-scale=1,minimum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="../../public/css/reset.css">
    <link rel="stylesheet" href="../../public/css/my/setup.css">
</head>
<body>
<div class="title">
    <a href="../my/my-information.html" class="nav_back"></a>
    <span class="title_text">设置</span>
</div>
<div class="row">
    <div class="receive_text">接收需求</div>
    <div class="point">
        <span class="point_btn"></span>
    </div>
</div>
<a href="" class="row">
    <div class="list_text">关于</div>
    <i class="link_pre"></i>
</a>
<a href="#" class="row">
    <div class="list_text">清除缓存</div>
    <div class="figure">
        <span>7.02</span><span>M</span>
    </div>
    <i class="link_pre"></i>
</a>
<div class="boxes"></div>
<div class="success_box">
    <p class="success_text">您确定要清理缓存吗？</p>
    <div class="btn_box">
        <div class="cancel_btn">取消</div>
        <div class="success_btn">确定</div>
    </div>
</div>
</body>
</html>