<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>运营商</title>
    <!--加下面一句可以像pc端一样操作移动端-->
    <meta name="viewport"
          content="width=device-width,inital-scale=1,
		  maximum-scale=1,minimum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="../../public/css/reset.css">
    <link rel="stylesheet" href="../../public/css/login/operator.css">
</head>
<body>
<div class="title">
    <a href="" class="nav_back"></a>
    <span class="title_text">运营商</span>
</div>
<p class="head">必填项</p>
<div class="must">
    <div class="add">
        <a href="" class="add_head">添加头像</a>
        <p class="borders"></p>
    </div>
    <div class="must_box">
        <div class="must_row">
            <input type="text" class="inp" placeholder="公司名">
        </div>
    </div>
    <div class="must_box">
        <div class="must_row">
            <input type="text" class="inp" placeholder="企业邮箱/公司总机">
        </div>
    </div>
    <div class="must_box">
        <div class="must_row">
            <input type="text" class="inp" placeholder="联系人">
        </div>
    </div>
    <div class="must_box">
        <div class="must_row">
            <input type="text" class="inp" placeholder="联系方式">
        </div>
    </div>
</div>
<p class="head">选填项</p>
<div class="optional">
    <div class="must_box">
        <div class="must_row">
            <input type="text" class="inp" placeholder="微信号码">
        </div>
    </div>
    <div class="optional_box">
        <div class="optional_list">
            <a href="" class="optional_text">微信二维码</a>
        </div>
        <div class="optional_list">
            <a href="" class="optional_text">营业执照</a>
        </div>
        <div class="optional_list">
            <a href="" class="optional_text">运营/租赁协议</a>
        </div>
    </div>
</div>
<div class="row_button">
    <a href="" class="submit">完成</a>
</div>
</body>
</html>