<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册成功</title>
    <!--加下面一句可以像pc端一样操作移动端-->
    <meta name="viewport"
          content="width=device-width,inital-scale=1,
		  maximum-scale=1,minimum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="../../public/css/reset.css">
    <link rel="stylesheet" href="../../public/css/login/register_success.css">
</head>
<body>
    <div class="success_box">
        <p class="success_text">注册完成，等待后天确认</p>
        <a href="./signin.html" class="success_btn">确认</a>
    </div>
</body>
</html>