<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <!--加下面一句可以像pc端一样操作移动端-->
    <meta name="viewport"
          content="width=device-width,inital-scale=1,
		  maximum-scale=1,minimum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="../../public/css/reset.css">
    <link rel="stylesheet" href="../../public/css/login/signin.css">
</head>
<body>
<div class="title">
    <a href="../my/my-information.html" class="nav_back"></a>
    <span class="title_text">登录</span>
</div>
<div class="signUp">
    <div class="row">
        <i class="user-img"></i>
        <label for="user" class="form-name">账号：</label>
        <div class="link_cell">
            <input type="text" class="inp" id="user" placeholder="请输入您的手机号">
        </div>
    </div>
    <div class="row">
        <i class="pass-img"></i>
        <label for="password" class="form-name">密码：</label>
        <div class="link_cell">
            <input type="password" class="inp" id="password" placeholder="请输入您的账号密码">
        </div>
    </div>
</div>
<div class="row_button">
    <a  href="" class="submit">登录</a>
</div>
<div class="bottom">
    <a href="./register.html" class="left">注册</a>
    <a href="./password.html" class="right">忘记密码？</a>
</div>
</body>
</html>