<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <meta name="viewport"
          content="width=device-width,inital-scale=1,
		  maximum-scale=1,minimum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="../../public/css/reset.css">
    <link rel="stylesheet" href="../../public/css/home/home-page.css">
</head>
<body>
<div class="header">
    <i class="icon-back">上海</i>
    <span class="header_title">梦想房产</span>
</div>
<div class="search_box">
    <div class="search_input"><i class="icon_search"></i><span class="inp_text">挑好房，上梦想房产</span></div>
</div>
<div class="banner_box">
    <div class="banner_container">
        <div class="banner_block"></div>
        <div class="banner_block"></div>
        <div class="banner_block"></div>
        <div class="banner_block"></div>
        <div class="banner_block"></div>
    </div>
    <div class="point_box">
        <span class="point_block active"></span><span class="point_block"></span><span class="point_block"></span><span class="point_block"></span><span class="point_block"></span>
    </div>
</div>
</body>
</html>